---
http_interactions:
- request:
    method: get
    uri: https://www.stands4.com/services/v2/phrases.php?format=json&phrase=exhausted&token=DONT_SHARE_MY_KEY&uid=DONT_SHARE_MY_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"error":"Invalid Token"}'
  recorded_at: Thu, 23 May 2024 16:34:05 GMT
[...]
- request:
    method: get
    uri: https://www.stands4.com/services/v2/phrases.php?format=json&phrase=exhausted&tokenid=DONT_SHARE_MY_KEY&uid=DONT_SHARE_MY_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result":[{"term":"all in","explanation":"exhausted","example":{}},{"term":"copiam
        quam potui persecutus sum","explanation":"I have exhausted all my material.","example":{}},{"term":"dead
        beat","explanation":"exhausted","example":{}},{"term":"dog-tired","explanation":"exhausted","example":{}},{"term":"je
        n''en puis plus","explanation":"I am done up, exhausted.","example":{}},{"term":"je
        suis \u00e0 bout de force","explanation":"I am exhausted, done up.","example":{}},{"term":"knackered","explanation":"Exhausted;
        very [...]
